<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link as="style" rel="stylesheet preload" href="/normalize.min.css" />
    <link as="style" rel="stylesheet preload" href="/main.min.css" />

    <style>
      [data-status="hidden"] { display: none; } [data-status="visible"] {
      display: unset; }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>RAOK - read articles on Kindle</title>
  </head>

  <body data-mx="auto">
    {{{body}}}

    <script async src="/index.js"></script>
  </body>
</html>