<header data-display="flex" data-p="12" data-md-px="12" data-bg="gray-800">
  <h1 data-fs="20" data-ls="2" data-color="gray-100" data-fw="500">raok</h1>

  <div data-display="flex" data-ml="auto" data-mr="72" data-md-mr="24">
    <strong data-ml="12" data-md-ml="6" data-color="white">{{username}}</strong>
  </div>

  <a
    class="c-link"
    data-color="white"
    data-mr="12"
    data-md-mr="0"
    href="/logout"
  >
    Logout
  </a>
</header>

<main data-max-width="768" data-mx="auto" data-mt="24">
  <form method="POST" action="/update-number-of-articles-to-autosend">
    <input type="hidden" name="_csrf" value="{{_csrf}}" />

    <div data-display="flex" data-cross="end">
      <div
        data-display="flex"
        data-direction="column"
        data-mt="24"
        data-mr="12"
      >
        <label class="c-label" for="numberOfArticlesToAutosend" data-mb="6">
          Number of articles to autosend
        </label>
        <input
          id="numberOfArticlesToAutosend"
          class="c-input"
          type="number"
          min="0"
          max="10"
        />
      </div>
      <button class="c-button" data-variant="secondary" type="submit">
        Update
      </button>
    </div>
  </form>
</main>