<header data-display="flex" data-p="12" data-md-px="12" data-bg="gray-800">
  <h1 data-fs="20" data-ls="2" data-color="gray-100" data-fw="500">raok</h1>

  <div data-display="flex" data-ml="auto" data-mr="72" data-md-mr="24">
    <strong data-ml="12" data-md-ml="6" data-color="white">{{username}}</strong>
  </div>

  <a
    class="c-link"
    data-color="white"
    data-mr="12"
    data-md-mr="0"
    href="/logout"
  >
    Logout
  </a>
</header>

<main data-display="flex" data-mx="auto" data-mt="48" style="max-width: 1296px">
  <section data-grow="1" data-pr="48">
    <div data-bg="gray-100" data-p="12">
      <h2 data-fs="16" data-color="gray-800" data-fw="500" data-mb="24">
        Statistics
      </h2>

      <div data-fs="14" data-color="gray-600">
        <strong>{{stats.createdArticles}}</strong>
        created article(s) overall
      </div>
    </div>
  </section>

  <div data-max-width="768" data-width="100%">
    <div id="root"></div>
  </div>
</main>