<header data-display="flex" data-p="12" data-md-px="12" data-bg="gray-800">
  <h1 data-fs="20" data-ls="2" data-color="gray-100" data-fw="500">raok</h1>

  <div data-display="flex" data-ml="auto" data-mr="72" data-md-mr="24">
    <strong data-ml="12" data-md-ml="6" data-color="white">{{
      username
    }}</strong>
  </div>

  <a
    class="c-link"
    data-color="white"
    data-mr="12"
    data-md-mr="0"
    href="/logout"
  >
    Logout
  </a>
</header>

<div id="root"></div>

