<header data-p="12" data-bg="gray-800">
  <h1
    data-fs="20"
    data-ls="2"
    data-color="gray-100"
    data-fw="500"
    data-transform="uppercase"
  >raok</h1>
</header>

<main data-p="24" data-md-p="12" data-pt="72" data-md-pt="48" data-mx="auto">
  <form
    data-display="flex"
    data-direction="column"
    data-cross="center"
    data-mx="auto"
    data-p="24"
    data-md-px="12"
    data-bg="gray-100"
    data-bw="1"
    data-bc="gray-300"
    data-max-width="528"
    method="POST"
    action="/login"
  >
    <div data-display="flex" data-direction="column" data-width="100%">
      <div data-display="flex" data-direction="column">
        <label class="c-label" for="username" data-mb="6">
          Admin username
        </label>
        <input
          placeholder="admin"
          class="c-input"
          id="username"
          name="username"
          type="email"
          autocomplete="email"
          required
        />
      </div>

      <div data-display="flex" data-direction="column" data-mt="24">
        <label class="c-label" for="password" data-mb="6">
          Admin password
        </label>
        <input
          placeholder="*********"
          class="c-input"
          id="password"
          name="password"
          type="password"
          required
          autocomplete="current-password"
        />
      </div>

      <button
        class="c-button"
        data-variant="primary"
        type="submit"
        data-mt="24"
        data-mb="24"
      >
        Login
      </button>

      <div class="h-captcha" data-sitekey="{{HCAPTCHA_SITE_KEY}}" data-mx="auto"></div>
    </div>
  </form>
</main>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
