<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <link as="style" rel="stylesheet preload" href="/normalize.min.css" />
    <link as="style" rel="stylesheet preload" href="/main.min.css" />

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>RAOK - read articles on Kindle</title>
  </head>

  <body data-mx="auto">
    {{{body}}}
  </body>
</html>